from urllib import request
from bs4 import BeautifulSoup as bs
import re
from numba import jit
@jit
def get_egg(eggurl):
    
    resp = request.urlopen(eggurl)
    html_data = resp.read()

    soup = bs(html_data, 'html.parser', from_encoding='utf-8') 
    egglist = soup.find_all(text=re.compile("元/斤"))
    if egglist !=[]:
        megg=[]
        for i in egglist:
            a=re.findall(r"\d+\.?\d*",i)
            c=list(str(a))
            d=int(c[2])+int(c[4])*0.1+int(c[5])*0.01
            megg.append(d)
    
            meanegg=sum(megg)/len(megg)
            return meanegg
        
    
#hhhhh求每页里面链接里价格
@jit
def get_zong(url_index):
    resp1 = request.urlopen(url_index)
    html_data1 = resp1.read()

    soup1 = bs(html_data1, 'html.parser', from_encoding='utf-8') 
    urllist=soup1(href=re.compile("beifang"),title=re.compile("鸡蛋价格最新行情"))


    for tag in urllist:
        urlchushi='http://www.jidan7.com'+tag.get('href')      
        print(urlchushi)
        print(get_egg(urlchushi))
get_zong('http://www.jidan7.com/xh/jiage/beifang/index.html')
